# Binarios compilados
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Archivos de prueba
*.test

# Archivos de cobertura
*.out

# Dependencias
/vendor/

# Archivos de IDE y editores
.idea/
.vscode/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db